body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #066e9e;
    color: white;
    background-image: url(https://static.wixstatic.com/media/33169f_5deaa2f1e5f3418da80bdbc3ea123343~mv2.png/v1/fill/w_640,h_602,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/33169f_5deaa2f1e5f3418da80bdbc3ea123343~mv2.png);
    background-size: cover;
    height: inherit;
    font-family: monospace;
    font-size: 18px;
  }
  h1, p{
    margin: center;
    text-align: center;
  }
  form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
  fieldset{
    border: none;
    padding: 2rem 0;
  }
  input,
  text select, 
  select {
  margin: 10 0 0 0;
  width: 100%;
  } 
 
  .inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  label{
    display: block;
    margin: 0.5em ;
  }
  input[type="radio"]{
    width: 10%;
    margin: center ;
    }
     

